.button {
  background-color: rgb(250, 213, 73);
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.whiteBtn {
  background-color: white;
  padding: 12px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;

  border-radius: 5px;
  border: 0.5px solid black;
  color: rgb(119, 119, 118);
}
