.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  padding-top: 30px;
}

.formContainer input {
  /* max-width: 435px; */
  /* width: 100%; */
}

.blockInput {
  display: flex;
}
