.containerHomeProduct {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.containerHomeProduct h3 {
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
}

.containerContent {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.containerContent p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
}
