@import "react-slideshow-image/dist/styles.css";

.blockCart {
  position: relative;

  padding: "20px";

  color: "#000000";
  background: "#efefef";
  border-radius: 10px;
}

.divStyle {
  display: "flex";
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.blockCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 291px;
  height: 564px;

  padding: 30px 23px;

  border: 0.5px solid rgb(210, 210, 209);
}

.contentProductCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 183px;
}

.blockPrice {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.starTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
