@import "react-slideshow-image/dist/styles.css";

.blockCart {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  padding: 30px 23px;

  border: 0.5px solid rgb(210, 210, 209);

  border-radius: 10px;
}

.blockImg {
  display: flex;
  justify-content: center;
}

.contentProductCart {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.information {
  padding-bottom: 10px;
}

.starTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
