.block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  
}

.container {
  border: 0.5px solid rgb(210, 210, 209);
  border-radius: 10px;
  padding: 30px 24px;
  position: relative;
  max-width: 895px;
}

.container img {
  width: 129px;
  height: 183px;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
}
.title {
  padding-left: 40px;
  padding-right: 60px;
  color: rgb(29, 29, 26);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.price {
  margin-right: 40px;
  padding-left: 40px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
