.footer {
  padding-bottom: 75px;
}
.footer h3 {
  color: rgb(29, 29, 26);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: left;
}

.adressContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.numberBlock {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.mobileNumberBlock {
  display: flex;
  flex-direction: row;
  gap: 0 50px;
}

.box {
  display: flex;
  gap: 10px;
}

.number {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.number span,
.adressContainer span {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
}

.icon {
  width: 14.24px;
  height: 12.16px;
}

@media only screen and (max-width: 768px) {
  .footer h3 {
    font-size: 24px;
  }

  .adressContainer {
    margin-top: 20px;
  }
}
