.container {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  border: 1px solid;
  height: 46px;
  border-radius: 14px;
  padding: 0 16px;
  font-size: 14px;
}

.error {
  border: solid 1px var(--red);
  background: var(--pink);
  color: red;
}

.leftMargin {
  padding-left: 47px;
}
.rightMargin {
  padding-right: 47px;
}

.rightIcon,
.leftIcon {
  max-height: 20px;
  max-width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rightIcon {
  right: 15px;
}

.leftIcon {
  left: 15px;
}
