.skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  padding: 14px 8px;
  gap: 5px;

  border: 0.5px solid rgb(210, 210, 209);

  border-radius: 10px;
}

.containerBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton1 {
  background-color: rgb(153, 153, 153);
  height: 185px;
  width: 100%;
  border-radius: 5px;
}

.title {
  width: 100px;
  background-color: rgb(153, 153, 153);
  height: 25px;
}

.rating {
  background-color: rgb(153, 153, 153);
  height: 25px;
}

.skeleton2 {
  height: 39px;
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
}
